html{position:relative;}
body{margin:0 auto;} 
.adminTab{cursor:pointer;position: fixed;top: 30%;background: black;height: 30px;border-radius: 0px 10px 10px 0px;color: #fff;padding-top: 12px;padding-right: 10px;padding-left: 10px;z-index:999;}
.adminBar{position:fixed;width:0%;height:100%;top:0px;overflow: scroll;background:#000;z-index:9999999999999999;opacity:0.8;color:#fff;}
.container{width:100%;margin:0 auto;} 
.header{width:100%;height:50px;background:green;}
p.myAccount{float:right;padding-right:20px;}
p.myAccount a{color:#fff;text-decoration:none;}
.footer{width:100%;height:auto;background:green;margin:auto;display:block;/*position:absolute;*/bottom:0;} 
.logo{width:auto;}
img.logo{max-width:300px;max-height: 200px;}
.nav{width:100%;background:blue;height:50px;margin:auto;margin-bottom:50px;margin-top: 200px;}
.nav a{color:#fff;}
.nav ul{max-width: 1000px;margin: auto;}
.nav ul li{float:left;padding-top:15px;padding-left:20px;color:#fff;}
.mobileNav{cursor:pointer;width:100%;background:blue;height:50px;margin:auto;margin-bottom:50px;margin-top: 200px;display:none;overflow:hidden;}
.mobileNav ul{padding-top:40px;padding-bottom:20px;}
.mobileNav ul li{float:left;padding-top:15px;padding-left:20px;width:100%;} 
.mobileNav ul a{color:#fff;}
span.navigation{padding-top:15px;padding-left:20px;color:#fff;float:left;color:#fff;}
ul{list-style-type:none;padding:0;} 
li{padding:0;}
.sliderNavNext{right:0;}
.sliderNavPrev{left:0;}
ul.teasers, ul.featured{width:100%;height:auto;}  
ul.featured{/*padding-bottom:50px;*/}
img.teaser, img.featured{width:23.75%;float:left;padding-right:1%;/*padding-bottom:50px;*/height:auto;}
img.first{padding-left:1%;}
video#video{display:block;} 
p#copyright{color:#fff;padding-top:15px;padding-left:20px;margin:0;max-width: 20%;padding-bottom:20px;} 
.spacer{padding-bottom:50px;}
.video{position:relative;}
video{padding-bottom: 50px;cursor:pointer;}
.contactInfo{float:right;padding-right:20px;margin-top:20px;}
p.headertext{margin-top:0px;margin-bottom:0px;padding:0px;text-align: right;}
img#play-pause{cursor:pointer;position:absolute;left:0;right:0;bottom:0;top:0;margin:auto;display:block;width:10%;}
.footerContainer{width:98%;margin:auto;}
.footerHeader{padding-top:10px;padding-bottom:20px;}
.footerRow{padding-bottom:5px;}
.footerColumn{width:23.75%;float:left;padding-right:1%;/*padding-bottom:50px;*/height:auto;color:#fff;text-align:left;}
.first{padding-left:1%;}
.socialFooter{max-height: 25px;padding-right: 10px;cursor:pointer;}
.footerIcon{max-height: 25px;padding-right: 10px;cursor:pointer;float: left;}
.footerCalender{max-height:60px;padding-right:10px;float:left;} 
.footerRow p{max-width: 100%;text-align: left;padding-top: 3px;}
#socialFooter{padding-top: 120px;}
.footer a{color:#fff;text-decoration:none;}
#socialIcons{padding-top:10px;}
.calender{padding-bottom:20px;}
.colorpicker{font-family:Arial,Helvetica,sans-serif;border:solid 1px #cccccc;position:absolute;width:240px;height:326px;background: #ffffff;-moz-box-shadow:0 0 6px rgba(0,0,0,.25);-webkit-box-shadow: 0 0 6px rgba(0,0,0,.25);box-shadow:0 0 6px rgba(0,0,0,.25);-moz-border-radius: 5px;-webkit-border-radius:5px;border-radius:5px;display:none;}
span#headerColorPicker, span#footerColorPicker{height:20px;width:20px;display:inline-block;margin-bottom: -6px;margin-left: 10px;cursor:pointer;} 

@media all and (max-width:880px){
	.footerColumn{width:48%;}
	#footerColumnLast{padding-bottom:40px;}
	p#copyright{max-width:100%;}
	#socialFooter{padding-top: 0px;}
}

@media all and (max-width: 480px){ 
	.footerColumn{width:98%;/*text-align:center;*/}
	.video{padding-bottom: 10px;}
	img.logo {max-width: 150px;}
	.nav{display:none;}
	.mobileNav{display:block;}
	#footerColumnLast{padding-bottom:40px;}
	p#copyright{max-width:100%;}
	#socialFooter{padding-top:0px;}
	/*.footerRow p{text-align:center;}*/
}
